.page-wrapper{
    background-color: rgb(194, 194, 255);
    padding: 30px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.basket{
    width: 95%;
    max-width: 1000px;
}

section{
    padding: 10px;
    margin-top: 30px;
    background-color: rgb(129, 129, 255);
}

.basket-entry, .history-entry {
    background-color: rgb(110, 110, 255);
    padding: 5px;
    margin-block: 2px;
}

.basket-entry {
    display: grid;
    width: 100%;
    grid-template-columns: minmax(150px, 60%) minmax(80px, 10%)  minmax(50px, 10%) minmax(50px, 10%) minmax(40px, 10%);
    grid-template-rows: 100%;
    row-gap: 2vh;
}

.history-entry {
    display: grid;
    width: 100%;
    grid-template-columns: 100px calc(90% - 150px) 50px;
    grid-template-rows: 100%;
    row-gap: 2vh;
}

.list-header {
    font-weight: bolder;
}

li {
    list-style: none
}