.page-wrapper{
    background-color: rgb(194, 194, 255);
    padding: 30px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.users {
    background-color: rgb(129, 129, 255);
    max-width: 80%;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.user {
    background-color: rgb(96, 96, 255);
    border: 1px solid black;
    padding: 10px;
    margin-block: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.user__field {
    padding-inline: 15px;
}
