<body>
  <nav>
    <ul>
      <li>
        <a
          routerLink="/home"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Home</a
        >
      </li>
      <li>
        <a
          routerLink="/menu"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Menu</a
        >
      </li>
      <li *ngIf="userRoles.includes('USER')">
        <a
          routerLink="/basket"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Basket</a
        >
      </li>
      <li *ngIf="userRoles.includes('ADMIN') || userRoles.includes('MANAGER')">
        <a
          routerLink="/manageDishes"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Manage dishes</a
        >
      </li>
      <li *ngIf="!userLogged">
        <a
          routerLink="/register"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Register</a
        >
      </li>
      <li *ngIf="!userLogged">
        <a
          routerLink="/login"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Login</a
        >
      </li>
      <li *ngIf="userRoles.includes('ADMIN')">
        <a
          routerLink="/admin"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Admin</a
        >
      </li>
      <li *ngIf="userLogged">
        <a style="cursor: default;"
          >{{ userName }}</a
        >
      </li>
      <li *ngIf="userLogged">
        <a (click)="logout()"
          >Logout</a
        >
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</body>
