<body>
  <nav>
    <ul>
      <li>
        <a
          routerLink="/home"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Home</a
        >
      </li>
      <li>
        <a
          routerLink="/menu"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Menu</a
        >
      </li>
      <li>
        <a
          routerLink="/basket"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Basket</a
        >
      </li>
      <li>
        <a
          routerLink="/new-dish"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >New dish</a
        >
      </li>
      <li>
        <a
          routerLink="/register"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Register</a
        >
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</body>
