<div class="form-wrapper">
  <h1>Set filters</h1>
  <form #filterDishForm="ngForm" [formGroup]="form">
    <mat-form-field>
      <mat-label class="bold">Name:</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Cuisines</mat-label>
      <mat-select formControlName="cuisines" multiple>
        <mat-option *ngFor="let cuisine of cuisines" [value]="cuisine">{{ cuisine }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Categories</mat-label>
      <mat-select formControlName="categories" multiple>
        <mat-option *ngFor="let category of categories" [value]="category">{{ category }}</mat-option>
      </mat-select>
    </mat-form-field>

    <label for="rating">Rating range:</label>
    <mat-slider discrete [min]="0" [max]="ratingGrades" step="0.1" id="rating">
      <input matSliderStartThumb formControlName="minRating" />
      <input matSliderEndThumb formControlName="maxRating" />
    </mat-slider>
    
    <label for="price">Price range:</label>
    <mat-slider
      discrete
      [min]="minPrice"
      [max]="maxPrice"
      step="0.01"
      id="price"
    >
      <input matSliderStartThumb formControlName="minPrice" />
      <input matSliderEndThumb formControlName="maxPrice" />
    </mat-slider>
  </form>
</div>
