<div class="form-wrapper">
  <h1>Set filters</h1>
  <form #filterDishForm="ngForm" [formGroup]="form">
    <label for="name">name:</label>
    <input id="name" formControlName="name" />
    <p>cuisines:</p>
    <div class="categories-wrapper" formArrayName="cuisines">
      <div
        class="checkbox-wrapper"
        *ngFor="let cus of cuisinesArray().controls; index as i"
      >
        <input
          type="checkbox"
          id="cuisines{{ i }}"
          name="cuisines"
          formControlName="{{ i }}"
        />
        <label for="cuisines{{ i }}">{{ cuisines[i] }}</label>
      </div>
    </div>
    <p>categories:</p>
    <div class="categories-wrapper" formArrayName="categories">
      <div
        class="checkbox-wrapper"
        *ngFor="let cat of categoriesArray().controls; index as i"
      >
        <input
          type="checkbox"
          id="categories{{ i }}"
          name="categories"
          formControlName="{{ i }}"
        />
        <label for="categories{{ i }}">{{ categories[i] }}</label>
      </div>
    </div>
    <label for="rating">Rating range:</label>
    <br />
    <mat-slider discrete [min]="0" [max]="ratingGrades" step="0.01" id="rating">
      <input matSliderStartThumb formControlName="minRating" />
      <input matSliderEndThumb formControlName="maxRating" />
    </mat-slider>
    <br />
    <label for="price">Price range:</label>
    <br />
    <mat-slider
      discrete
      [min]="minPrice"
      [max]="maxPrice"
      step="0.01"
      id="price"
    >
      <input matSliderStartThumb formControlName="minPrice" />
      <input matSliderEndThumb formControlName="maxPrice" />
    </mat-slider>
  </form>
</div>
