.page-wrapper{
    background-color: rgb(194, 194, 255);
    padding: 30px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section{
    margin-block: 30px;
    min-width: 300px;
    max-width: 80%;
}

section h1{
    margin-block: 10px;
}

section img{
    width: 100%;
}