<main class="page-wrapper">
  <section>
    <h1>About</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum voluptate
      nostrum inventore voluptas distinctio, velit nulla quibusdam aliquid harum
      repudiandae reprehenderit debitis maiores iure molestias omnis animi
      libero id rerum.
    </p>
  </section>

  <section>
    <a
      href="https://www.google.com/maps/place/AGH+C2/@50.0663399,19.9223615,17.75z/data=!4m5!3m4!1s0x47165ba716a39a4b:0x11d137e3b938f290!8m2!3d50.0658432!4d19.9228265"
    >
      <img src="assets/images/map.png" alt="" />
    </a>
  </section>

  <section>
    <h1>Contact us</h1>
    <p>Telephone: +48 123 123 123</p>
    <p>Email: restaurant@restaurant.com</p>
  </section>
</main>
